@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
@model List<web7.Data.Product>

<div class="center_content">
    <div class="oferta">
        <img src="~/assets/images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Power Tools BST18XN Cordless</div>
            <div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
            <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">details</a>
        </div>
    </div>
    <div class="center_title_bar">Latest Products</div>
    @foreach (var p in Model)
    {
        <div class="prod_box">
            <div class="center_prod_box">
                <div class="product_title"><a href="http://all-free-download.com/free-website-templates/">@p.Name</a></div>
                <div class="product_img">
                    <a href="http://all-free-download.com/free-website-templates/">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Id">
                            <img src="~/assets/images/@p.Hinh" alt="Error Image" border="0" />
                        </a>
                    </a>
                </div>
                <div class="prod_price"><span class="reduce">350$</span> <span class="price">@p.Gia</span></div>
            </div>
            <div class="prod_details_tab"> <a href="http://all-free-download.com/free-website-templates/" class="prod_buy">Add to Cart</a> <a href="http://all-free-download.com/free-website-templates/" class="prod_details">Details</a> </div>
        </div>
    }
</div>